p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
