@import '~node_modules/modern-normalize/modern-normalize.css';

@import '../sass/basic/reset';
@import '../sass/basic/main-style';
@import '../sass/utils/variables';
@import '../sass/utils/mixins';
@import '../sass/basic/conteiner';

