<footer class="footer">
    <div class="container footer__container">
        <div class="text__wrapper">
            <p class="footer__text">&copy; 2021 | All Rights Reserved |&nbsp;</p>
        </div>
        <div class="text__wrapper--second">
            <p class="footer__text">
                <span class="span__wrapper">Developed with</span>

                <svg width="14" height="14" class="footer__svg" aria-label='heart'>
                    <use href="/src/images/heart.svg#heart"></use>
                </svg>
                <span>by</span>
                <a href="##" class="footer__link" data-action="open-modal" >GoIT Students</a>
            </p>       
        </div>
            <div class="footer__modal-overlay is-hidden-footer">
                <div class="footer__modal-window">
                    <div class="footer__modal-content">
                        <span class="footer__modal-close" data-action="close-modal">&times;</span>    
                    </div>
                </div>
            </div>   
</footer>