<section class="gallery">
  <div class="conteiner">
    <ul class="gallery__list">
      <!-- Карточки изображений -->
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
    </ul>
  </div>
</section>