<div class="conteiner">
  <div class="pagination">
    <ul>
      <!-- <li class="arrow-left">
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path
            d="M12.667 8H3.333M8 12.667 3.333 8 8 3.333"
            stroke-width="1.333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </li>
      <li class="numb active-btn"><span>1</span></li>
      <li class="numb"><span>2</span></li>
      <li class="dots"><span>. . .</span></li>
      <li class="numb"><span>4</span></li>
      <li class="numb"><span>5</span></li>
      <li class="numb"><span>6</span></li>
      <li class="numb"><span>7</span></li>
      <li class="numb"><span>8</span></li>
      <li class="dots"><span>. . .</span></li>
      <li class="numb"><span>10</span></li>
      <li class="arrow-right">
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path
            d="M3.333 8h9.334M8 12.667 12.667 8 8 3.333"
            stroke-width="1.333"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </li> -->
    </ul>
  </div>
</div>
