.modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;

    z-index: 100;
    transition: visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), 
    opacity(1) 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
}