.gallery__list {
  @include tabl {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  
  @include desk {
    gap: 16px;
  }
}

.gallery__item {
  @media screen and (max-width: 768px) {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}

  &:not(:last-child) {
      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }
    }

  @include tabl {
    width: calc((100% - 32px) / 2);
  }
  @include desk {
    width: calc((100% - 32px) / 3);
  }
}

.gallery__item:hover,
.gallery__item:focus {
box-shadow: 0px 0px 14px 5px #FF6B01, 2px 0px 14px 5px #8B0B06, 0px 0px 2px 5px rgba(139, 11, 6, 0.3);
}

.gallery__image {
  display: block;
  height: 402px;
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;

  @include tabl {
  height: 455px;
  }

  @include desk {
  height: 574px;
  }
}

.info-title {
  font-size: 20px;
  line-height: calc(24 / 20);
  text-transform: uppercase;
  color: #000000;
}

.info-meta {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: #FF6B08;
}

.info-rate {
  color: #FFFFFF;
  background-color: #FF6B08;
  border-radius: 5px;
}