.gallery__list {
  margin-bottom: -20px;
  width: inherit;

  @include tabl {
    display: flex;
    flex-wrap: wrap;
    margin-right: -32px;
    margin-bottom: -32px;
  }
  @include desk {
    margin-right: -16px;
  }
}

.gallery__item {
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
  
    @include tabl {
      margin-right: 32px;
      margin-bottom: 32px;
      width: calc(100% / 2 - 32px);
    }
    @include desk {
      margin-right: 16px;
      width: calc(100% / 3 - 16px);
    }
  }
