.info-title {
    margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
        line-height: calc(24 / 20);
        text-transform: uppercase;
        color: #000000;     
}

.gallery__list {
  margin-bottom: -20px;
  width: 100%;

  @include tabl {
    display: flex;
    flex-wrap: wrap;
    margin-right: -32px;
    margin-bottom: -32px;
    width: inherit;
  }
  
  @include desk {
    margin-right: -16px;
  }
}

.gallery__item {
  background-color: aqua;
  height: 500px;

  align-items: center;
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  
    @include tabl {
      margin-right: 32px;
      margin-bottom: 32px;
      width: calc(100% / 2 - 48px);
    }
    @include desk {
      margin-right: 16px;
      width: calc(100% / 3 - 32px);
    }
  }
