.gallery__list {
  @include tabl {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  
  @include desk {
   column-gap: 16px;
   row-gap: 32px;
  }
}

.gallery__item {
border-radius: 10px;


transition: transform 300ms;

  @media screen and (max-width: 768px) {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}

  &:not(:last-child) {
      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }
    }

  @include tabl {
    width: calc((100% - 32px) / 2);
  }
  @include desk {
    width: calc((100% - 32px) / 3);
  }
}

.gallery__item:hover,
.gallery__item:focus {
box-shadow: 0px 0px 14px 5px rgba(217, 14, 11, 0.7), 0px 0px 14px 5px rgba(87, 7, 3, 0.3), 0px 0px 2px 5px rgba(139, 11, 6, 0.2);
transform: scale(1.02);
}

.gallery__image {
  display: block;
  height: 402px;
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;

  @include tabl {
  height: 455px;
  }

  @include desk {
  height: 574px;
  }
}

.info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  @include desk {
      font-size: 20px;
      line-height: calc(24 / 20);
    }
}

.info-title {
  text-transform: uppercase;
  color: #000000;
  font-size: 20px;
  }

.info-meta {
  color: #FF6B08;
}

.info-rate {
  font-size: 12px;
  line-height: 1.17;

  color: #FFFFFF;
  background-color: #FF6B08;
  border-radius: 5px;

  padding: 1px 6px;
  margin-left: 8px;
}