.header-library{
    height: 216px;
    padding-top: 40px;
    padding-bottom: 44px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/header-bg/header-library-bg-desk-2x.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/header-bg/header-library-bg-desk-2x.jpeg);
    }

    @include tabl {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/header-bg/header-library-bg-desk-2x.jpeg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/header-bg/header-library-bg-desk-2x.jpeg);
        }
    }

    @include desk {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/header-bg/header-library-bg-desk-2x.jpeg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(/src/images/header-bg/header-library-bg-desk-2x.jpeg);
        }
    }
}

.header__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-logo{
    width: 24px;
    height: 24px;
}

.logo__link{
    display: flex;
    align-items: center;

    @include tabl {
        display: flex;
        align-items: center;
    }
}

.logo-text {
    visibility: hidden;
    display: none;

    @include tabl {
        margin-left: 10px;
        visibility: visible;
        display: flex;
        font-size: 30px;
        line-height: calc(35 / 30);
        color: var(--main-text-color);
    }
}

.navigation__list{
    display: flex;
}

.navigation__item{
    & + & {
        margin-left: 40px;
    }
}

.navigation__link{
    color: var(--main-text-color);
    text-transform: uppercase;
}

.header__buttons{
    display: flex;
    justify-content: center;
    margin-top: 66px;
    @include tabl {
        margin-top: 40px;
    }
}

.header__button{
    width: 130px;
    height: 44px;
    background-color: initial;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    color: var(--main-text-color);
    text-transform: uppercase;

    & + & {
        margin-left: 20px;
    }

    @include tabl {
        width: 152px;

        & + & {
            margin-left: 32px;
        }
    }

    @include desk {
        width: 148px;
        height: 42px;

        & + & {
            margin-left: 16px;
        }
    }
}

.current__button{
    border: 0;
    background-color: #FF6B01;
    box-shadow: (0px 8px 43px rgba(255, 107, 1, 0.6));
}