.library-gallery__list {
  margin-left: auto;
  margin-right: auto;

  @include tabl {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  @include desk {
    gap: 16px;
  }
}

.library-gallery__item {
  &:not(:last-child) {
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  @include tabl {
    width: calc((100% - 32px) / 2);
  }

  @include desk {
    width: calc((100% - 32px) / 3);
  }
}

.library-gallery__item:hover,
.library-gallery__item:focus {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.library-gallery__image {
  display: block;
  height: 402px;
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;

  @include tabl {
    height: 455px;
  }

  @include desk {
    height: 574px;
  }

}

.library-info-title {
  font-size: 20px;
  line-height: calc(24 / 20);
  text-transform: uppercase;
  color: #000000;
}

.library__notification {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.33;

  color: #FF6B08;
  
  @include desk {
    font-size: 40px;
    line-height: calc(24 / 20);
    }
}

.library__notification.wrap {
  margin-top: 30px;
}

.notification-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;

  @include desk {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.home-link {
  color: #FF6B08;
  text-decoration: underline;
}