svg {
  width: 16px;
  height: 16px;
}

.pagination ul {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  list-style: none;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.pagination ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: background-color 0.3s ease, outline 0.3s ease;
}

.pagination ul li.numb:hover,
.pagination ul li.arrow-left:hover,
.pagination ul li.arrow-right:hover {
  background-color: #ff6b08;
  color: #ffffff;
  outline: 1px solid rgba(43, 40, 40, 0.479);
}

.pagination ul li svg {
  stroke: #000;
}

.pagination ul li:hover svg {
  stroke: #ffffff;
}

.arrow-left,
.arrow-right {
  background-color: #f7f7f7;
}

.active-btn {
  background-color: #ff6b08;
  color: #ffffff;
}

.dots {
  pointer-events: none;
}
