.basicLightbox__placeholder iframe {
    height: 240px;
    min-width: 320px;
  
    @include tabl {
      height: 480px;
      width: 640px;
    }
  
    @include desk {
      height: 768px;
      width: 1024px;
    }
  }